body{
	margin: 0;
    padding: 0;
    background: url(/images/banner.jpg) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: 'Muli', sans-serif;
} 

.panel-default {
    border-color: #f5f8fa;
    box-shadow: 3px 6px 2px 2px;
    height: 300px;
}

.w-100{
	width: 100%;
}

.login-bg{
	background-image: url(/images/login.png);
}

.arpsrt{
    width: 150px;
}

.box-logins{
    background-color: rgba(0, 0, 0, 0.21);
	box-shadow: 3px 6px 2px 2px;
	padding: 35px;
	margin: 50px 50px;
}

.logos{
	width: 80%;
	text-align: center;
	margin-bottom: 20px;
}

.lblt-login{
	color: white;
	padding: 0px;
}

.bg-trnsprt{
	background: transparent;
	border: solid 1px white;
}

.m-t-100{
	margin-top: 100px; 
}

.white{
    color: white;
}