
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.barcode-info {
    width: auto;
    margin: auto;
    padding: 0;
    position: relative;
    color: #000;
    font-family: 'Open Sans', sans-serif;
}

.barcode-info > .caption {
    padding: 0 0 14px;
    text-align: center;
    font-size: 24px;
    color: #000;
    border-bottom: 1px dashed #ccc;
}

.barcode-info h3 {
    font-size: 12px;
    line-height: 18px;
    padding-left: 20px;
    padding-top: 6px;
    font-family: 'Open Sans', sans-serif;
}

.barcode-info h3 + * {
    margin: 4px 20px;
}

.barcode-info h3 > strong {
    display: block;
    font-weight: bold;
    font-size: 12px;
}

.barcode-layout {
    width: 188px;
    padding: 13px 0 0;
}

.barcode-info dd {
    padding-bottom: 6px;
    border-bottom: 1px dashed #ccc;
    font-family: 'Open Sans', sans-serif;
    counter-reset: my-badass-counter;
}

.barcode-info dd:last-child, .barcode-info dd.last{
    border-bottom: 0px none;
}

.caption .logo{
    width: 120px;
    position: relative;
    margin: auto;
    padding: 0;
}

.package_code {
    padding-left: 20px;
    font-weight: bolder;
    font-size: 11px;
    display: block;
    letter-spacing: 10.4px;
}

.sender-receiver {
    display: table;
    margin: auto;
    text-align: center;
    position: relative;
    padding: 0;
    width: 100%;
}

.sender-receiver li {
    display: block;
    padding: 8px 0 38px;
    float: left;
    width: 49.6%;
    text-align: center;
}

.sender-receiver .name {
    display: inline;
    font-size: 11px;
    text-transform: capitalize;
}

.sender-receiver li.first {
    border-right: 1px dashed #ccc;
}

.sender-receiver:after {
    clear: both;
}

.customer_service {
    text-align: center;
    line-height: 18px;
    padding: 8px 0 0;
    margin: auto;
}

.customer_service > h3 {
    display: block;
    font-weight: normal;
    text-transform: capitalize;
    padding: 0;
}

.customer_service .phone_number {
    font-weight: bold;
    font-size: 15px;
    display: block;
    margin: 0px;
}

.barcode-info dd.signiture {
    padding-bottom: 0px;
}

.barcode-info h3 + .tnc {
    position: relative;
    padding: 0;
    list-style: none;
    margin-right: 0px;
}

.tnc li {
    font-size: 9px;
    margin: 0 0 4px;
    line-height: 11px;
    position: relative;
    padding-left: 11px;
}

.tnc .bullet {
    font-size: 9px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.tnc .bullet:before{
    content: counter(my-badass-counter);
    counter-increment: my-badass-counter;
}

.barcode-info h3 + img {
    width: 85%;
}