.wid-20-per{
    width: 20%;
}

.wid-30-per{
    width: 30%;
}
.wid-21-per{
    width: 21%;
}
.wod-100{
    width: 100%;
}

.wid-230{
    width: 230px;
}

.pad-8-0{
    padding: 8px 15px;
}
.pad-20-i{
	padding: 20px !important;
}


/*margin*/
.m-b-10{
	margin-bottom: 10px;
}

.m-t-25{
	margin-top: 25px; 
}

/*endofmargin*/

.butn-action-admn a{
	float: left;
	margin-right: 10px; 
}

.total-mch{
	font-size: 18px;
	color: #555;
}

.table-y {
    min-height: .01%;
    overflow-y: auto;
}

.navbar-nav>.user-menu>.dropdown-menu {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 1px 0 0 0;
    border-top-width: 0;
    width: 250px;
}

/*
.fl-left a{
	float: left;
	margin-right: 34px; 
}
*/

.nom-list{
    width: 20px;
    text-align: center;
}

.table thead .action {
    width: 154px;
}

.box-message{
    background: #08c;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
    font-size: 25px;
}

.box-messagev2{
    background: #00c0ef;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
    font-size: 25px;
}

.btn-style{
  width: 100%;
  margin-bottom: 5px;
}

.m-t-30{
        margin-top: 30px;
}


.bg-ungu{
    background: #605ca8;
}
.bg-ungu .inner h3{
    color: white;
}
.bg-ungu .inner a{
    font-size: 14px;
    color: white;
}

.bg-abu{
    background: #a0a0a0;
}
.bg-abu .inner h3{
    color: white;
}
.bg-abu .inner a{
    font-size: 14px;
    color: white;
}

.bg-ungutua{
    background: #612657;
}
.bg-ungutua .inner h3{
    color: white;
}
.bg-ungutua .inner a{
    font-size: 14px;
    color: white;
}

.bg-birumuda{
    background: #6199ca;
}
.bg-birumuda .inner h3{
    color: white;
}
.bg-birumuda .inner a{
    font-size: 14px;
    color: white;
}

.bg-merahmuda{
    background: #fd7bc9;
}
.bg-merahmuda .inner h3{
    color: white;
}
.bg-merahmuda .inner a{
    font-size: 14px;
    color: white;
}

.bg-hijaumuda{
    background: #55a254;
}
.bg-hijaumuda .inner h3{
    color: white;
}
.bg-hijaumuda .inner a{
    font-size: 14px;
    color: white;

}.bg-maroon{
    background: #dc463f;
}
.bg-maroon .inner h3{
    color: white;
}
.bg-maroon .inner a{
    font-size: 14px;
    color: white;
}

.bg-aqua{
    background: #00c0ef;
}
.bg-aqua .inner h3{
    color: white;
}
.bg-aqua .inner a{
    font-size: 14px;
    color: white;
}

.bg-hijau{
    background: #00c0ef;
}
.bg-hijau .inner h3{
    color: white;
}
.bg-hijau .inner a{
    font-size: 14px;
    color: white;
}

.bg-kuninghijau{
    background: #c3d467;
}
.bg-kuninghijau .inner h3{
    color: white;
}
.bg-kuninghijau .inner a{
    font-size: 14px;
    color: white;
}

.small-box .icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: -25px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0,0,0,0.15);
}